@use './variables' as v;

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
}

html {
    font-size: 62.5%;
    color: v.$white;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

body {
    background-color: v.$primaryColour;
}

section:nth-of-type(even),
footer {
    background-color: v.$primaryColour;
}

section:nth-of-type(odd) {
    background-color: v.$secondaryColour;
}

.neonText {
    color: v.$neon;
}