@use './variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: v.$primaryFont;
}

nav {
    font-size: 2rem;
}

h1 {
    font-size: 7rem;
    line-height: 8rem;
}

h2 {
    font-size: 3.5rem;
    line-height: 5.5rem;
}

p {
    font-size: 2rem;
    line-height: 4rem;
}