// Global
@use './partials/global/setup';
@use './partials/global/general';
@use './partials/global/typography';
@use './partials/global/variables';

// Sections
@use './partials/sections/header';
@use './partials/sections/technologyStack';
@use './partials/sections/myProjects';
@use './partials/sections/contactMe';
@use './partials/sections/footer';

// Media Queries
@use './partials/mediaQueries/width1200px';
@use './partials/mediaQueries/width1040px';
@use './partials/mediaQueries/width880px';