@use '../global/variables' as v;

.logoNavContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 2.5rem;
    height: 10vh;
}

.navContainer {
    display: flex;

    li {
        padding-left: 5rem;
    }
}

.headerTextImageContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
}

.headerText, 
.headerImage {
    width: 45%;
}

.headerText {
    p {
        padding: 2rem 0;
    }

    .fa-brands {
        color: v.$neon;
        font-size: 2.5rem;
        padding-right: 1.5rem;
    }

    a {
        &:hover,
        &:focus {
            opacity: 0.75;
        }
    }
}   

.headerImage{
    padding-top: 7.5rem;
}

.headerArrowContainer {
    height: 10vh;
    display: flex;
    justify-content: center;

    .fa-caret-down {
        color: v.$neon;
        font-size: 5rem;
        padding-top: 2.5rem;
        transition: ease 100ms;
        
        &:hover,
        &:focus {
          transform: scale(1.10);
      }
    }
}
