@use '../global/variables' as v;

.logoNavContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 2.5rem;
    height: 10vh;
}

nav {
    display: flex;
}

.navMenu {
    display: flex;

    li {
        padding-left: 5rem;
    }

    a {
        position: relative;

        &::after {
            content: "";
            height: 0.4rem;
            width: 0;
            background: v.$neon;
            position: absolute;
            left: 0;
            top: 2.5rem;
            transition: all 0.5s ease;
        }

        &:hover::after,
        &:focus::after {
            width: 100%;
        }
    }
}

.hamburgerMenu {
    display: none;
    height: 4.5rem;
    cursor: pointer;
}

.bar {
    display: block;
    height: 0.5rem;
    width: 3.75rem;
    background: v.$white;
    margin: 0.75rem 0;
}

.headerTextImageContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
}

.headerText, 
.headerImage {
    width: 45%;
}

.headerText {
    animation: fadeRight 1.5s;
    p {
        padding: 2rem 0;
    }

    .fa-github,
    .fa-linkedin {
        color: v.$neon;
        font-size: 2.5rem;
        padding-right: 1.5rem;
    }

    a {
        &:hover,
        &:focus {
            opacity: 0.75;
        }
    }
}   

.headerImage {
    animation: fadeLeft 1.5s;
    margin-top: 7.5rem;
    min-width: 47.5rem;
}

.headerArrowContainer {
    height: 10vh;
    text-align: center;

    .fa-caret-down {
        color: v.$neon;
        font-size: 5rem;
        margin-top: 2.5rem;
        transition: all 0.1s ease;
        
        &:hover,
        &:focus {
          transform: scale(1.10);
      }
    }
}

.shape {
    color: #fff;
    font-size: 1.5rem;
    position: fixed;
    z-index: -1;
}

.shapeOne {
    top: 20vh;
    left: 10vw;
    color: v.$neon;
}

.shapeTwo {
    top: 20vh;
    left: 50vw;
}

.shapeThree {
    top: 20vh;
    left: 85vw;
    color: v.$neon;
}

.shapeFour {
    top: 55vh;
    left: 10vw;
}

.shapeFive {
    top: 55vh;
    left: 50vw;
    color: v.$neon;
}

.shapeSix {
    top: 55vh;
    left: 85vw;
}

.shapeSeven {
    top: 90vh;
    left: 10vw;
    color: v.$neon;
}

.shapeEight {
    top: 90vh;
    left: 50vw;
}

.shapeNine {
    top: 90vh;
    left: 85vw;
}

@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(-40rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(40rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}
