@use '../global/variables' as v;

.myProjects {
    padding: 2.4rem 0;

    h2 {
        text-align: center;
        padding: 4rem 0 10rem 0;
    }
}

.projectContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12rem;
}

.projectTextToolsLinksContainer {
    width: 50%;
}

.projectTextContainer {
    p {
        padding: 2rem 0 4rem 0;
    }
}

.projectImageContainer {
    width: 40%;

    img {
        border-radius: 0.5rem;
    }
}

.projectToolsLinksContainer {
    display: flex;
}

.projectToolsContainer {
    margin-right: 10rem;

    .languageIcon {
        height: 4rem;
        width: 4rem;
        margin-top: 1.5rem;
        margin-right: 1.5rem;
    }
}

.projectLinksContainer {
    .fa-github,
    .fa-link {
        font-size: 4rem;
        margin-top: 1.5rem;
        margin-right: 2rem;
    }

    a {
        &:hover,
        &:focus {
            opacity: 0.75;
        }
    }
}

div.swiper-button-prev,
div.swiper-button-next {
    color: v.$neon;
    font-weight: bold;
    transform: translateY(-50%);

    &::after {
        font-size: 3rem;
    }
}

.swiper-button-prev {
    padding-right: 2rem;
}

.swiper-button-next {
    padding-left: 2rem;
}

.swiper-button-prev,
.swiper-button-next {
    &:hover {
        opacity: 0.5;
    }
}

span.swiper-pagination-bullet {
    background: v.$neon;
    height: 1.5rem;
    width: 1.5rem;

    &:hover {
        opacity: 0.5;
    }
}

.swiper-slide {
    display: flex;
    justify-content: center;
    height: 100%;
    text-align: center;

    a {
        max-width: 100%;
    }

    img {
        width: 80%;
        height: 100%;
    }
}

.swiper-wrapper {
    height: 80%;
    padding-bottom: 5rem;
}