@use '../global/variables' as v;

.myProjects {
    h2 {
        text-align: center;
        padding: 4rem 0 10rem 0;
    }
}

.projectContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12rem;
}

.projectTextToolsLinksContainer {
    width: 50%;
}

.projectTextContainer {
    p {
        padding: 2rem 0 4rem 0;
    }
}

.projectImageContainer {
    width: 40%;

    img {
        border-radius: 0.5rem;
    }
}

.projectToolsLinksContainer {
    display: flex;
}

.projectToolsContainer {
    margin-right: 10rem;

    .languageIcon {
        height: 4rem;
        width: 4rem;
        margin-top: 1.5rem;
        margin-right: 1.5rem;
    }
}

.projectLinksContainer {
    .fa-github,
    .fa-link {
        font-size: 4rem;
        margin-top: 1.5rem;
        margin-right: 2rem;
    }

    a {
        &:hover,
        &:focus {
            opacity: 0.75;
        }
    }
}

.carousel {
    position: relative;
    height: 30rem;
}

.carouselTrackingContainer {
    position: relative;
    height: 100%;
}

.carouselSlide {
    position: absolute;
    width: 100%;
    display: flex;
}

.carouselButton {
    background: transparent;
    border: none;
    cursor: pointer;

    i {
        color: v.$neon;
        font-size: 3rem;
    }
}

.carouselNavContainer {
    display: flex;
    justify-content: center;
}

.carouselNav {
    margin: 0 1rem;
}

.carouselIndicator {
    border: none;
    border-radius: 50%;
    background: v.$neon;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    opacity: 0.25;
    cursor: pointer;

    &.currentIndicator {
        opacity: 0.75;
    }
}

.carouselTracker {
    transition: 0.5s ease;
}

.carouselTrackingContainer {
    overflow: hidden;
}