@use '../global/variables' as v;

.myProjects {
    h2 {
        text-align: center;
        padding: 4rem 0 10rem 0;
    }
}

.projectContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12rem;
}

.projectTextToolsLinksContainer, 
.projectImageContainer {
    width: 45%;
}

.projectTextContainer {
    p {
        padding: 2rem 0 4rem 0;
    }
}

.projectImageContainer {
    img {
        border-radius: 0.5rem;
    }
}

.projectToolsLinksContainer {
    display: flex;
}

.projectToolsContainer {
    margin-right: 10rem;

    .languageIcon {
        height: 4rem;
        width: 4rem;
        margin-top: 1.5rem;
        margin-right: 1.5rem;
    }
}

.projectLinksContainer {
    .fa-github,
    .fa-link {
        font-size: 3.5rem;
        margin-top: 1.5rem;
        margin-right: 2rem;
    }

    a {
        &:hover,
        &:focus {
            opacity: 0.75;
        }
    }
}