@use '../global/variables' as v;

.technologyStack {
    // height: 50vh;
    display: flex;
    align-items: center;
}

.technologyStackTextImageContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.technologyStackText {
    width: 100%;
    padding: 4.8rem 0;
}

.technologyStackImages {
    width: 60%;
}

.technologyStackText {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        padding: 2rem 0;
    }
}

.technologyStackIcons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2.4rem;

    li {
        width: 25%;
        text-align: center;
        padding-bottom: 2.4rem;

        &:hover .languageIcon,
        &:focus .languageIcon {
            transform: scale(1.10);
            filter: brightness(125%);
        }

        &:hover .languageText,
        &:focus .languageText {
            transform: scale(1);
        }
    }
}

.languageIcon {
    height: 9.6rem;
    width: 9.6rem;
    transition: all 0.3s ease;
}

.githubIcon {
    background: #fff;
    border-radius: 10%;
}

.languageText {
    transition: all 0.3s ease;
    transform: scale(0);
    padding-top: 0.5rem;
}