@use '../global/variables' as v;

.technologyStack {
    height: 50vh;
    display: flex;
    align-items: center;
}

.technologyStackTextImageContainer {
    display: flex;
    justify-content: space-between;
}

.technologyStackText, 
.technologyStackImages {
    width: 45%;
}

.technologyStackText {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        padding: 2rem 0;
    }
}

.technologyStackIcons {
    display: flex;
    flex-wrap: wrap;

    li {
        width: 25%;
        text-align: center;
        padding-right: 1.5rem;
        padding-bottom: 0.5rem;

        &:hover .languageIcon,
        &:focus .languageIcon,
        &:active .languageIcon {
            transform: scale(1.10);
            filter: brightness(125%);
        }

        &:hover .languageText,
        &:focus .languageText,
        &:active .languageIcon {
            transform: scale(1);
        }
    }
}

.languageIcon {
    height: 9.6rem;
    width: 9.6rem;
    transition: all 0.3s ease;
}

.languageText {
    transition: all 0.3s ease;
    transform: scale(0);
    padding-top: 0.5rem;
}