@use '../global/variables' as v;

.technologyStack {
    height: 50vh;
    display: flex;
    align-items: center;
}

.technologyStackTextImageContainer {
    display: flex;
    justify-content: space-between;
}

.technologyStackText, 
.technologyStackImage {
    width: 45%;
}

.technologyStackText {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        padding: 2rem 0;
    }
}

.technologyStackIcons {
    display: flex;
    flex-wrap: wrap;

    li {
        width: 25%;
        text-align: center;
        padding: 1.75rem;
    }
}

.languageIcon {
    transition: ease 300ms;

    &:hover,
    &:focus {
        transform: scale(1.10);
        filter: brightness(125%);
    }
}