@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

html {
  font-size: 62.5%;
  color: #fff;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

body {
  background-color: #141428;
}

section:nth-of-type(odd) {
  background-color: #1a1a32;
}

.neonText {
  color: #00BFA6;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  font-size: 2rem;
  line-height: 3.6rem;
}

h1 {
  font-size: 7rem;
  line-height: 9rem;
}

h2 {
  font-size: 3.5rem;
  line-height: 5.5rem;
}

h3 {
  font-size: 3rem;
  line-height: 3.5rem;
}

h4 {
  font-size: 2rem;
  line-height: 2.8rem;
}

p {
  font-size: 2rem;
  line-height: 3.6rem;
}

.logoNavContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2.5rem;
  height: 10vh;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navMenu li {
  padding-left: 5rem;
}
.navMenu a {
  position: relative;
}
.navMenu a::after {
  content: "";
  height: 0.4rem;
  width: 0;
  background: #00BFA6;
  position: absolute;
  left: 0;
  top: 2.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navMenu a:hover::after, .navMenu a:focus::after {
  width: 100%;
}

.hamburgerMenu {
  display: none;
  height: 4.5rem;
  cursor: pointer;
}

.bar {
  display: block;
  height: 0.5rem;
  width: 3.75rem;
  background: #fff;
  margin: 0.75rem 0;
}

.headerTextImageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

.headerText,
.headerImage {
  width: 45%;
}

.headerText p {
  padding: 2rem 0;
}
.headerText .fa-github,
.headerText .fa-linkedin {
  color: #00BFA6;
  font-size: 2.5rem;
  padding-right: 1.5rem;
}
.headerText a:hover, .headerText a:focus {
  opacity: 0.75;
}

.headerImage {
  margin-top: 7.5rem;
  min-width: 47.5rem;
}

.headerArrowContainer {
  height: 10vh;
  text-align: center;
}
.headerArrowContainer .fa-caret-down {
  color: #00BFA6;
  font-size: 5rem;
  margin-top: 2.5rem;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.headerArrowContainer .fa-caret-down:hover, .headerArrowContainer .fa-caret-down:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.technologyStack {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.technologyStackTextImageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.technologyStackText,
.technologyStackImages {
  width: 45%;
}

.technologyStackText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.technologyStackText p {
  padding: 2rem 0;
}

.technologyStackIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.technologyStackIcons li {
  width: 25%;
  text-align: center;
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
}
.technologyStackIcons li:hover .languageIcon, .technologyStackIcons li:focus .languageIcon {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
}
.technologyStackIcons li:hover .languageText, .technologyStackIcons li:focus .languageText {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.languageIcon {
  height: 9.6rem;
  width: 9.6rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.githubIcon {
  background: #fff;
  border-radius: 10%;
}

.languageText {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(0);
          transform: scale(0);
  padding-top: 0.5rem;
}

.myProjects h2 {
  text-align: center;
  padding: 4rem 0 10rem 0;
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 12rem;
}

.projectTextToolsLinksContainer,
.projectImageContainer {
  width: 45%;
}

.projectTextContainer p {
  padding: 2rem 0 4rem 0;
}

.projectImageContainer img {
  border-radius: 0.5rem;
}

.projectToolsLinksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projectToolsContainer {
  margin-right: 10rem;
}
.projectToolsContainer .languageIcon {
  height: 4rem;
  width: 4rem;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
}

.projectLinksContainer .fa-github,
.projectLinksContainer .fa-link {
  font-size: 4rem;
  margin-top: 1.5rem;
  margin-right: 2rem;
}
.projectLinksContainer a:hover, .projectLinksContainer a:focus {
  opacity: 0.75;
}

.contactMe {
  padding-bottom: 10rem;
}
.contactMe h2 {
  text-align: center;
  padding: 4rem 0 8rem 0;
}

.contactMeTextFormContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactMeText,
.contactMeForm {
  width: 45%;
}

.contactMeText p {
  padding: 2rem 0 6rem 0;
}

.contactMeImage {
  width: 75%;
  min-width: 37.5rem;
}

.nameAndEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4rem;
}
.nameAndEmail label {
  display: block;
  padding-bottom: 1rem;
  font-size: 2rem;
}
.nameAndEmail input {
  outline: none;
  height: 5rem;
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
}

.nameContainer {
  margin-right: 5rem;
}

.userMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.userMessage label {
  padding-bottom: 1rem;
  font-size: 2rem;
}
.userMessage textarea {
  outline: none;
  resize: none;
  height: 20rem;
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
}
.userMessage button {
  margin-top: 4rem;
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  background: none;
  border: 0.1rem solid #00BFA6;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.userMessage button:hover, .userMessage button:focus {
  background-color: #00BFA6;
}

footer {
  padding: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  h2 {
    font-size: 3.1rem;
    line-height: 5.2rem;
  }
  p {
    font-size: 1.9rem;
    line-height: 3.4rem;
  }
  nav {
    font-size: 1.9rem;
    line-height: 3.4rem;
  }
  h1 {
    font-size: 5.6rem;
    line-height: 7.8rem;
  }
  .headerText,
.headerImage {
    width: 50%;
  }
  .headerText p {
    padding: 1.8rem 0;
  }
  .headerImage {
    padding-top: 3.75rem;
  }
  .myProjects h2 {
    padding: 4rem 0 8rem 0;
  }
  .myProjects h3 {
    font-size: 2.5rem;
    line-height: 3.2rem;
  }
  .projectContainer {
    padding-bottom: 10rem;
  }
  h4 {
    font-size: 1.9rem;
    line-height: 2.6rem;
  }
  .projectToolsContainer .languageIcon {
    margin-right: 1.25rem;
  }
  .projectLinksContainer .fa-github,
.projectLinksContainer .fa-link {
    margin-right: 1.5rem;
  }
  .contactMe {
    padding-bottom: 8rem;
  }
  .contactMe h2 {
    padding: 4rem 0 6rem 0;
  }
  .nameAndEmail label,
.nameAndEmail input {
    font-size: 1.9rem;
  }
  .userMessage label,
.userMessage textarea,
.userMessage button {
    font-size: 1.9rem;
  }
}
@media (max-width: 1040px) {
  h2 {
    font-size: 2.7rem;
    line-height: 4.6rem;
  }
  p {
    font-size: 1.75rem;
    line-height: 3rem;
  }
  nav {
    font-size: 1.75rem;
    line-height: 3rem;
  }
  h1 {
    font-size: 5.2rem;
    line-height: 6.8rem;
  }
  .headerText,
.headerImage {
    width: 41%;
  }
  .headerText p {
    padding: 1.5rem 0;
  }
  .headerImage {
    min-width: 42.5rem;
  }
  .myProjects h2 {
    padding: 4rem 0 7rem 0;
  }
  .myProjects h3 {
    font-size: 2.5rem;
    line-height: 3.2rem;
  }
  .projectContainer {
    padding-bottom: 8rem;
  }
  .projectToolsContainer {
    margin-right: 7.5rem;
  }
  .contactMe {
    padding-bottom: 6rem;
  }
  .contactMe h2 {
    padding: 4rem 0 5rem 0;
  }
  .nameAndEmail label,
.nameAndEmail input {
    font-size: 1.75rem;
  }
  .nameContainer {
    margin-right: 4rem;
  }
  .userMessage label,
.userMessage textarea,
.userMessage button {
    font-size: 1.75rem;
  }
}
@media (max-width: 880px) {
  .navMenu li {
    padding-left: 4rem;
  }
  .headerTextImageContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .headerText,
.headerImage {
    width: 60%;
  }
  .headerImage {
    margin-top: 2.5rem;
    margin-right: 5rem;
  }
  .technologyStack {
    height: auto;
    padding: 4rem 0;
  }
  .technologyStackTextImageContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .technologyStackText,
.technologyStackImages {
    width: 95%;
  }
  .technologyStackText h2 {
    text-align: center;
  }
  .technologyStackText p {
    padding-bottom: 5rem;
  }
  .myProjects h2 {
    padding: 4rem 0 6rem 0;
  }
  .projectContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 12rem;
  }
  .projectTextToolsLinksContainer,
.projectImageContainer {
    width: 95%;
  }
  .projectTextContainer p {
    padding: 2rem 0 3rem 0;
  }
  .projectTextContainer h3 {
    text-align: center;
  }
  .projectToolsLinksContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-bottom: 4rem;
  }
  .projectToolsContainer {
    margin-right: 3rem;
  }
  .projectLinksContainer {
    margin-left: 3rem;
  }
  .projectLinksContainer .fa-github,
.projectLinksContainer .fa-link {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
  .contactMeTextFormContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactMeText,
.contactMeForm {
    width: 95%;
  }
  .contactMe h2 {
    padding: 4rem 0 4rem 0;
  }
  .contactMeText p {
    padding: 1rem 0 5rem 0;
  }
  .contactMeImage {
    display: none;
  }
}
@media (max-width: 640px) {
  nav {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 4rem;
  }
  p {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
  .navMenu {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: -100%;
    right: 0%;
    text-align: center;
    background: #1a1a32;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 2rem 0;
  }
  .navMenu li {
    padding: 1.5rem 0;
  }
  .navMenu.active {
    top: 0%;
    right: 0%;
  }
  .hamburgerMenu {
    display: block;
  }
  .hamburgerMenu .bar {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .hamburgerMenu.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburgerMenu.active .bar:nth-child(1) {
    -webkit-transform: translateY(1.25rem) rotate(45deg);
            transform: translateY(1.25rem) rotate(45deg);
  }
  .hamburgerMenu.active .bar:nth-child(3) {
    -webkit-transform: translateY(-1.25rem) rotate(-45deg);
            transform: translateY(-1.25rem) rotate(-45deg);
  }
  h1 {
    font-size: 4.6rem;
    line-height: 6.2rem;
  }
  .headerImage {
    min-width: 35rem;
    margin-right: 3rem;
  }
  .languageIcon {
    height: 8rem;
    width: 8rem;
  }
  .myProjects h3 {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
  .projectContainer h4 {
    font-size: 1.75rem;
    line-height: 2.4rem;
  }
  .projectToolsContainer .languageIcon {
    height: 3.6rem;
    width: 3.6rem;
  }
  .projectLinksContainer .fa-github,
.projectLinksContainer .fa-link {
    font-size: 3.6rem;
  }
  .contactMe h2 {
    padding: 4rem 0 3.5rem 0;
  }
  .nameAndEmail label,
.nameAndEmail input {
    font-size: 1.6rem;
  }
  .userMessage label,
.userMessage textarea,
.userMessage button {
    font-size: 1.6rem;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 2.4rem;
    line-height: 3.8rem;
  }
  p {
    font-size: 1.5rem;
    line-height: 2.6rem;
  }
  .bar {
    height: 0.4rem;
    width: 3.5rem;
  }
  .hamburgerMenu.active .bar:nth-child(1) {
    -webkit-transform: translateY(1.15rem) rotate(45deg);
            transform: translateY(1.15rem) rotate(45deg);
  }
  .hamburgerMenu.active .bar:nth-child(3) {
    -webkit-transform: translateY(-1.15rem) rotate(-45deg);
            transform: translateY(-1.15rem) rotate(-45deg);
  }
  h1 {
    font-size: 4.2rem;
    line-height: 5.8rem;
  }
  .headerText,
.headerImage {
    width: 80%;
  }
  .headerImage {
    min-width: 28rem;
    margin-right: 1.5rem;
  }
  .languageIcon {
    height: 7.2rem;
    width: 7.2rem;
  }
  .myProjects h2 {
    padding: 4rem 0 5rem 0;
  }
  .myProjects h3 {
    font-size: 2.1rem;
    line-height: 2.6rem;
  }
  .projectContainer {
    padding-bottom: 10rem;
  }
  .projectContainer h4 {
    font-size: 1.65rem;
    line-height: 2.2rem;
  }
  .projectToolsContainer {
    margin-right: 2rem;
  }
  .projectToolsContainer .languageIcon {
    height: 3.3rem;
    width: 3.3rem;
    margin-right: 1rem;
  }
  .projectLinksContainer {
    margin-left: 2rem;
  }
  .projectLinksContainer .fa-github,
.projectLinksContainer .fa-link {
    font-size: 3.3rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .contactMe h2 {
    padding: 4rem 0 2rem 0;
  }
  .nameAndEmail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2rem;
  }
  .nameAndEmail input {
    width: 80%;
  }
  .nameAndEmail label,
.nameAndEmail input {
    font-size: 1.5rem;
  }
  .nameContainer {
    margin-right: 0rem;
    margin-bottom: 2rem;
  }
  .userMessage label,
.userMessage textarea,
.userMessage button {
    font-size: 1.5rem;
  }
}